snippet sfc "Vue Single File Component"
<template>
	<div>
		`!v expand('%:t:r')` content.
	</div>
</template>

<script>
export default {
	name: '`!v expand('%:t:r')`'$0
}
</script>

<style scoped>
</style>
endsnippet
